# This is a sample CODEOWNERS file
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# These owners will be requested for review when someone opens a pull request that modifies code that matches the pattern.

* @sawlemon
* @THARUN13055
